## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yellowknife,CA,62.4560,-114.3525,-6.59,91,91,15.19,overcast clouds
1,1,Santa Maria,BR,-29.6842,-53.8069,76.39,52,59,15.03,broken clouds
2,2,Mataura,NZ,-46.1927,168.8643,45.05,98,58,1.19,broken clouds
3,3,Albanel,CA,48.8832,-72.4487,22.41,72,27,0.63,scattered clouds
4,4,Punta Arenas,CL,-53.1500,-70.9167,48.92,50,22,28.83,few clouds
...,...,...,...,...,...,...,...,...,...,...
697,697,Xining,CN,36.6167,101.7667,19.26,51,0,1.66,clear sky
698,698,Chumikan,RU,54.7183,135.3150,0.66,90,76,12.39,broken clouds
699,699,Faya,SA,18.3851,42.4509,58.75,35,0,11.68,clear sky
700,700,Bonthe,SL,7.5264,-12.5050,84.09,70,87,6.60,overcast clouds
701,701,Westport,US,41.1415,-73.3579,39.70,60,75,11.77,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
Max_temp = float(input("Enter maximum desired temperature: "))
Min_temp = float(input("Enter minimum desired temperature: "))

Enter maximum desired temperature: 90
Enter minimum desired temperature: 75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_city_df = city_data_df.loc[(city_data_df["Max Temp"] <= Max_temp) & (city_data_df["Max Temp"] > Min_temp)]
preferred_city_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Santa Maria,BR,-29.6842,-53.8069,76.39,52,59,15.03,broken clouds
5,5,Tete,MZ,-16.1564,33.5867,84.56,27,6,4.59,clear sky
7,7,Bengkulu,ID,-3.8004,102.2655,76.03,87,98,9.48,light rain
8,8,Georgetown,MY,5.4112,100.3354,76.53,91,100,4.74,overcast clouds
10,10,Kaputa,ZM,-8.4689,29.6619,76.64,70,30,2.24,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
687,687,Shakawe,BW,-18.3667,21.8500,76.77,53,99,6.40,overcast clouds
689,689,Antsohihy,MG,-14.8796,47.9875,78.10,84,52,4.32,light rain
690,690,Montepuez,MZ,-13.1256,38.9997,80.37,53,54,11.36,broken clouds
694,694,Cam Ranh,VN,11.9214,109.1591,75.38,92,98,9.08,overcast clouds
700,700,Bonthe,SL,7.5264,-12.5050,84.09,70,87,6.60,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_city_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_city_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Santa Maria,BR,-29.6842,-53.8069,76.39,52,59,15.03,broken clouds
5,5,Tete,MZ,-16.1564,33.5867,84.56,27,6,4.59,clear sky
7,7,Bengkulu,ID,-3.8004,102.2655,76.03,87,98,9.48,light rain
8,8,Georgetown,MY,5.4112,100.3354,76.53,91,100,4.74,overcast clouds
10,10,Kaputa,ZM,-8.4689,29.6619,76.64,70,30,2.24,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
687,687,Shakawe,BW,-18.3667,21.8500,76.77,53,99,6.40,overcast clouds
689,689,Antsohihy,MG,-14.8796,47.9875,78.10,84,52,4.32,light rain
690,690,Montepuez,MZ,-13.1256,38.9997,80.37,53,54,11.36,broken clouds
694,694,Cam Ranh,VN,11.9214,109.1591,75.38,92,98,9.08,overcast clouds
700,700,Bonthe,SL,7.5264,-12.5050,84.09,70,87,6.60,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Santa Maria,BR,76.39,broken clouds,-29.6842,-53.8069,
5,Tete,MZ,84.56,clear sky,-16.1564,33.5867,
7,Bengkulu,ID,76.03,light rain,-3.8004,102.2655,
8,Georgetown,MY,76.53,overcast clouds,5.4112,100.3354,
10,Kaputa,ZM,76.64,scattered clouds,-8.4689,29.6619,
11,Hurghada,EG,76.46,clear sky,27.2574,33.8129,
13,Manggar,ID,79.86,broken clouds,-2.8833,108.2667,
14,Morros,BR,85.59,moderate rain,-9.4467,-46.3003,
19,Rikitea,PF,76.10,clear sky,-23.1203,-134.9692,
22,Vaini,TO,75.58,overcast clouds,-21.2000,-175.2000,

In [8]:
len(hotel_df)

192

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
#     "location": f"{lat},{lng}"
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("hotel name not found. skipping...")

hotel name not found. skipping...
hotel name not found. skipping...
hotel name not found. skipping...
hotel name not found. skipping...
hotel name not found. skipping...
hotel name not found. skipping...
hotel name not found. skipping...
hotel name not found. skipping...
hotel name not found. skipping...
hotel name not found. skipping...
hotel name not found. skipping...

In [15]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Santa Maria,BR,76.39,broken clouds,-29.6842,-53.8069,Hotel Morotin
5,Tete,MZ,84.56,clear sky,-16.1564,33.5867,Zambeze Paraíso Misterioso
7,Bengkulu,ID,76.03,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
8,Georgetown,MY,76.53,overcast clouds,5.4112,100.3354,Cititel Penang
10,Kaputa,ZM,76.64,scattered clouds,-8.4689,29.6619,Chelelwa Charlets
...,...,...,...,...,...,...,...
687,Shakawe,BW,76.77,overcast clouds,-18.3667,21.8500,Ditlhapi Guest House
689,Antsohihy,MG,78.10,light rain,-14.8796,47.9875,Hotel de Ville
690,Montepuez,MZ,80.37,broken clouds,-13.1256,38.9997,PembaAparthotel
694,Cam Ranh,VN,75.38,overcast clouds,11.9214,109.1591,OYO 598 Peony Hotel
700,Bonthe,SL,84.09,overcast clouds,7.5264,-12.5050,Bonthe Holiday Village

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Santa Maria,BR,76.39,broken clouds,-29.6842,-53.8069,Hotel Morotin
5,Tete,MZ,84.56,clear sky,-16.1564,33.5867,Zambeze Paraíso Misterioso
7,Bengkulu,ID,76.03,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
8,Georgetown,MY,76.53,overcast clouds,5.4112,100.3354,Cititel Penang
10,Kaputa,ZM,76.64,scattered clouds,-8.4689,29.6619,Chelelwa Charlets
...,...,...,...,...,...,...,...
687,Shakawe,BW,76.77,overcast clouds,-18.3667,21.8500,Ditlhapi Guest House
689,Antsohihy,MG,78.10,light rain,-14.8796,47.9875,Hotel de Ville
690,Montepuez,MZ,80.37,broken clouds,-13.1256,38.9997,PembaAparthotel
694,Cam Ranh,VN,75.38,overcast clouds,11.9214,109.1591,OYO 598 Peony Hotel
700,Bonthe,SL,84.09,overcast clouds,7.5264,-12.5050,Bonthe Holiday Village

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search_csv_here/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))